@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Righteous&family=Ubuntu&display=swap');
body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/star-wars-star.jpg');
  background-position: center;
  background-size:cover ;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px 30px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #ff0;
  font-size: 3rem;
  
  
}

h2 {
  margin-bottom: 10px;
  color: #ff0;
  font-size: 1rem; font-family: 'Righteous', cursive;


}

p {
  margin: 10px 0;
  color: #ff0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #3B9CB8;
  color: #fff;
  padding: 5px  10px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
  
}

.todo{
  background-color: black;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #ff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete{
  background-color: #26AC23;
}

.remove{
  background-color: #B20507;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}

.filter, .search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.filter-options div {
  flex: 1 1 0;
}